.img_caption {
    margin: 5px;
    text-align: center;
    font-family: 'Mate', serif;
    font-style: italic;
    opacity: 0.5;
}

.century_div {
    font-family: 'Mate', serif;
    color: white;
}

.axis .tick text {
    fill: white;
    font-size: 19;
    font-family: 'Mate', serif;
    letter-spacing: 0.75;
}

#full_timeline .tick text {
    font-size: 17px;
}

.axis path {
    stroke: white;
}

.axis .tick line {
    stroke-width: 3px;
}

.brush .selection {
    fill: #00cccc;
    stroke: none;
}

.tooltip p {
    color: white;
    font: italic 16px 'Mate';
    letter-spacing: 0.75;
}

.tooltip,
.shuffle_box {
    position: fixed;
}

.shuffle_box {
    fill: #016363;
    opacity: 0.9;
}

.shuffle_box_wrapper text {
    fill: white;
    font-family: 'Mate';
    font-style: italic;
    font-size: 18px;
    margin: 0px;
    padding: 5px;
    opacity: 0.9;
}

.shuffle_box img {
    padding-left: 5px;
    width: 20px;
    margin-bottom: -6px;
}

#shuffle_text_total {
    text-decoration: underline;
    cursor: pointer;
}

/* Disable text highlighting */
text,
p {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.shuffle {
    cursor: pointer;
}

.Title_wrapper {
    color: white;
    font-family: 'Mate';
    opacity: 0.9;
}

.Title_wrapper h1,
.Title_wrapper h2 {
    font-weight: normal;
}

.Title_wrapper h1 {
    letter-spacing: 1;
    margin-top: 30px;
    margin-bottom: 5px;
}

.pswp__caption {
    font-family: 'Mate';
    font-style: italic;
    font-size: 18px !important;
}

.pswp__caption a {
    text-decoration: underline;
    color: white;
}

.tile_div {
    padding-bottom: 20px;
}

#tile_viz_header {
    text-align: center;
    letter-spacing: 0.75;
    font-family: 'Mate', serif;
    color: white;
}

#viz_wrapper {
    text-align: center;
}


#image_svg,
.tile_div img {
    -webkit-clip-path: inset(0 0 8% 0);
    clip-path: inset(0 0 8% 0);
    cursor: pointer;
}

h2 {
    font-style: italic;
    margin-top: 0;
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: white;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

#subtitle a {
    text-decoration: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);
    color: white;
}

#tile_viz_header {
    padding: 5;
    width: 120;
    margin-left: -10;
    padding-left: 50;
    background-color: #01636391;
    font-weight: normal;
}
#tile_viz_wrapper {
    display: none;
}

#Modal_Btn:hover {
     cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefee0;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
    font-family: 'Mate';
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
    margin-top: -12;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#email_link {
    text-decoration: none;
    background-color: #016363;
    color: white;
    padding: 2px;
}

#modal2-content {
  width: 90%;
    font-size: 2.5em;
}
